In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/movies_metadata.csv")
df = df.head(100)

/var/folders/rm/5tqnjyhj6_xdtfm8gs991bsr0000gn/T/ipykernel_65530/208663420.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/movies_metadata.csv")

In [23]:
df['concatenated_column'] = df.apply(lambda row: ''.join(map(str, row)), axis=1)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,concatenated_column
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"False{'id': 10194, 'name': 'Toy Story Collecti..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"Falsenan65000000[{'id': 12, 'name': 'Adventure..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"False{'id': 119050, 'name': 'Grumpy Old Men Co..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Falsenan16000000[{'id': 35, 'name': 'Comedy'},..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"False{'id': 96871, 'name': 'Father of the Brid..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,NaN,3000000,"[{'id': 18, 'name': 'Drama'}]",NaN,406,tt0113247,fr,La Haine,Aimlessly whiling away their days in the concr...,...,0.0,98.0,"[{'iso_639_1': 'fr', 'name': 'Fran√ßais'}]",Released,Three Young Friends... One Last Chance.,La Haine,False,7.9,695.0,"Falsenan3000000[{'id': 18, 'name': 'Drama'}]na..."
96,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45549,tt0111173,en,Shopping,"A dark, hip, urban story of a barren and anony...",...,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one leaves without paying...,Shopping,False,5.6,13.0,"Falsenan0[{'id': 28, 'name': 'Action'}, {'id':..."
97,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.nickbroomfield.com/heidifleiss.html,63076,tt0113283,en,Heidi Fleiss: Hollywood Madam,A documentary crew from the BBC arrives in L.A...,...,0.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Heidi Fleiss: Hollywood Madam,False,6.8,4.0,"Falsenan0[{'id': 99, 'name': 'Documentary'}]ht..."
98,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,11062,tt0115907,en,City Hall,The accidental shooting of a boy in New York l...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It started with a shootout on a rainswept stre...,City Hall,False,6.0,67.0,"Falsenan0[{'id': 18, 'name': 'Drama'}, {'id': ..."
99,False,NaN,7000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,13685,tt0115734,en,Bottle Rocket,Upon his release from a mental hospital follow...,...,560069.0,91.0,"[{'iso_639_1': 'es', 'name': 'Espa√±ol'}, {'iso...",Released,"They're not really criminals, but everyone's g...",Bottle Rocket,False,6.8,285.0,"Falsenan7000000[{'id': 35, 'name': 'Comedy'}, ..."

In [24]:
df['concatenated_column']

0     False{'id': 10194, 'name': 'Toy Story Collecti...
1     Falsenan65000000[{'id': 12, 'name': 'Adventure...
2     False{'id': 119050, 'name': 'Grumpy Old Men Co...
3     Falsenan16000000[{'id': 35, 'name': 'Comedy'},...
4     False{'id': 96871, 'name': 'Father of the Brid...
                            ...
95    Falsenan3000000[{'id': 18, 'name': 'Drama'}]na...
96    Falsenan0[{'id': 28, 'name': 'Action'}, {'id':...
97    Falsenan0[{'id': 99, 'name': 'Documentary'}]ht...
98    Falsenan0[{'id': 18, 'name': 'Drama'}, {'id': ...
99    Falsenan7000000[{'id': 35, 'name': 'Comedy'}, ...
Name: concatenated_column, Length: 100, dtype: object

In [25]:
from sentence_transformers import SentenceTransformer
from scipy.spatial.distance import cosine
import pandas as pd

# Load pre-trained BERT model
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

# Encode all the sentences in the dataset
embeddings = model.encode(df['concatenated_column'])

# Initialize a similarity matrix
similarity_matrix = []

# Calculate cosine similarity between each pair of sentences
for i in range(len(df)):
    similarities = []
    for j in range(len(df)):
        similarity = 1 - cosine(embeddings[i], embeddings[j])
        similarities.append(similarity)
    similarity_matrix.append(similarities)

# Convert similarity matrix to DataFrame for better visualization
similarity_df = pd.DataFrame(similarity_matrix, columns=df['id'], index=df['id'])

print("Similarity Matrix:")
print(similarity_df)

Similarity Matrix:
id          862      8844     15602     31357     11862       949     11860  \
id
862    1.000000  0.529197  0.760007  0.469089  0.622133  0.403073  0.459681
8844   0.529197  1.000000  0.452144  0.511266  0.448601  0.465085  0.414189
15602  0.760007  0.452144  1.000000  0.591503  0.672283  0.465476  0.569920
31357  0.469089  0.511266  0.591503  1.000000  0.480131  0.514508  0.480390
11862  0.622133  0.448601  0.672283  0.480131  1.000000  0.395216  0.560636
...         ...       ...       ...       ...       ...       ...       ...
406    0.171237  0.246873  0.294668  0.360633  0.386343  0.213152  0.368470
45549  0.654056  0.540824  0.603026  0.560488  0.439840  0.596121  0.433054
63076  0.301418  0.302564  0.328847  0.471906  0.465768  0.348458  0.359961
11062  0.533774  0.381670  0.506209  0.407238  0.452048  0.539431  0.485840
13685  0.361856  0.486595  0.418466  0.527852  0.346191  0.544197  0.424925

id        45325      9091       710  ...      9095     12158      9283  \
id                                   ...
862    0.472761  0.414258  0.725920  ...  0.459170  0.378566  0.469893
8844   0.607727  0.480825  0.496906  ...  0.431421  0.506951  0.484277
15602  0.418061  0.411133  0.713339  ...  0.495086  0.422522  0.560775
31357  0.465565  0.407786  0.432058  ...  0.567421  0.493372  0.740725
11862  0.411100  0.453950  0.583385  ...  0.510522  0.390643  0.488009
...         ...       ...       ...  ...       ...       ...       ...
406    0.229611  0.373033  0.201610  ...  0.279714  0.338103  0.386654
45549  0.578984  0.528103  0.627124  ...  0.507544  0.588198  0.578976
63076  0.218132  0.205995  0.268898  ...  0.382199  0.378882  0.504036
11062  0.592673  0.421360  0.518635  ...  0.492415  0.510288  0.508059
13685  0.544253  0.407737  0.420218  ...  0.496149  0.520140  0.440410

id         9208     40154       406     45549     63076     11062     13685
id
862    0.420352  0.447280  0.171237  0.654056  0.301418  0.533774  0.361856
8844   0.389499  0.541481  0.246873  0.540824  0.302564  0.381670  0.486595
15602  0.416064  0.427758  0.294668  0.603026  0.328847  0.506209  0.418466
31357  0.458373  0.452955  0.360633  0.560488  0.471906  0.407238  0.527852
11862  0.312312  0.500846  0.386343  0.439840  0.465768  0.452048  0.346191
...         ...       ...       ...       ...       ...       ...       ...
406    0.207551  0.369275  1.000000  0.331349  0.281161  0.283759  0.288075
45549  0.613517  0.431334  0.331349  1.000000  0.349143  0.631763  0.598031
63076  0.266962  0.413096  0.281161  0.349143  1.000000  0.362059  0.272845
11062  0.511355  0.416263  0.283759  0.631763  0.362059  1.000000  0.520266
13685  0.528063  0.435741  0.288075  0.598031  0.272845  0.520266  1.000000

[100 rows x 100 columns]

In [26]:
similarity_df

id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,9095,12158,9283,9208,40154,406,45549,63076,11062,13685
id,,,,,,,,,,,,,,,,,,,,,
862,1.000000,0.529197,0.760007,0.469089,0.622133,0.403073,0.459681,0.472761,0.414258,0.725920,...,0.459170,0.378566,0.469893,0.420352,0.447280,0.171237,0.654056,0.301418,0.533774,0.361856
8844,0.529197,1.000000,0.452144,0.511266,0.448601,0.465085,0.414189,0.607727,0.480825,0.496906,...,0.431421,0.506951,0.484277,0.389499,0.541481,0.246873,0.540824,0.302564,0.381670,0.486595
15602,0.760007,0.452144,1.000000,0.591503,0.672283,0.465476,0.569920,0.418061,0.411133,0.713339,...,0.495086,0.422522,0.560775,0.416064,0.427758,0.294668,0.603026,0.328847,0.506209,0.418466
31357,0.469089,0.511266,0.591503,1.000000,0.480131,0.514508,0.480390,0.465565,0.407786,0.432058,...,0.567421,0.493372,0.740725,0.458373,0.452955,0.360633,0.560488,0.471906,0.407238,0.527852
11862,0.622133,0.448601,0.672283,0.480131,1.000000,0.395216,0.560636,0.411100,0.453950,0.583385,...,0.510522,0.390643,0.488009,0.312312,0.500846,0.386343,0.439840,0.465768,0.452048,0.346191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,0.171237,0.246873,0.294668,0.360633,0.386343,0.213152,0.368470,0.229611,0.373033,0.201610,...,0.279714,0.338103,0.386654,0.207551,0.369275,1.000000,0.331349,0.281161,0.283759,0.288075
45549,0.654056,0.540824,0.603026,0.560488,0.439840,0.596121,0.433054,0.578984,0.528103,0.627124,...,0.507544,0.588198,0.578976,0.613517,0.431334,0.331349,1.000000,0.349143,0.631763,0.598031
63076,0.301418,0.302564,0.328847,0.471906,0.465768,0.348458,0.359961,0.218132,0.205995,0.268898,...,0.382199,0.378882,0.504036,0.266962,0.413096,0.281161,0.349143,1.000000,0.362059,0.272845
11062,0.533774,0.381670,0.506209,0.407238,0.452048,0.539431,0.485840,0.592673,0.421360,0.518635,...,0.492415,0.510288,0.508059,0.511355,0.416263,0.283759,0.631763,0.362059,1.000000,0.520266
13685,0.361856,0.486595,0.418466,0.527852,0.346191,0.544197,0.424925,0.544253,0.407737,0.420218,...,0.496149,0.520140,0.440410,0.528063,0.435741,0.288075,0.598031,0.272845,0.520266,1.000000